<a href="https://colab.research.google.com/github/swatijain200701-sys/AI-ML-Skills-/blob/main/Swati's_notes2_Pandas_Series_%26_DataFrames_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas Series & DataFrames.

Dataframes are nothing more then excel sheet . It converts any dict in excel sheet form, which we use in python.

Basic usage:-

In [ ]:
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
df=pd.DataFrame(dict1)
print(df)
#here 0,1,2,3... are indexs

     NAMES  MARKS
0    swati     99
1  shaurya     98
2    rishu     97
3    ankit     96
4   aditya     95

To import this excel sheet in csv file.

In [ ]:
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
df=pd.DataFrame(dict1)
print(df)
#to import
df.to_csv('friends.csv') #this named as friends.csv will be create in your main home page.
#to remove the index from the main file
df.to_csv('friends_index_false.csv',index=False)
#To print specificalyy upto N row only FROM START OR TOP
print(df.head(2))
#To print omly down or FROM LAST
print(df.tail(2))

     NAMES  MARKS
0    swati     99
1  shaurya     98
2    rishu     97
3    ankit     96
4   aditya     95
     NAMES  MARKS
0    swati     99
1  shaurya     98
    NAMES  MARKS
3   ankit     96
4  aditya     95

In [ ]:
#perform numerical calculation to the colum of numbers
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
df=pd.DataFrame(dict1)
print(df.describe())

           MARKS
count   5.000000
mean   97.000000
std     1.581139
min    95.000000
25%    96.000000
50%    97.000000
75%    98.000000
max    99.000000

To read any csv file

In [ ]:
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
df=pd.DataFrame(dict1)
#to import
df.to_csv('friends.csv') #this named as friends.csv will be create in your main home page.
#to remove the index from the main file
df.to_csv('friends_index_false.csv',index=False)
a=pd.read_csv('friends.csv')
#print(a)
#to change any value/dataframe / datakey we can perform by
a.loc[0, "MARKS"]=98 # Fixed: Using .loc for proper assignment
print(a)
#To update in excel sheet
a.to_csv('friends.csv', index=False) # Fixed: Corrected DataFrame name and removed print around to_csv

   Unnamed: 0    NAMES  MARKS
0           0    swati     98
1           1  shaurya     98
2           2    rishu     97
3           3    ankit     96
4           4   aditya     95

**Why to use pandas and what is pandas**


1.   Pandas is an open source data analysis library written in python.
2.   It leverages the power and speed of numpy to make data analysis and preprocessing easy for data scientists.
3.  It provides rich and highly robust data operations.

**Why to use **pandas** and not
**excel**?**

In excel we use funtions provided by pythons.

Provides better storage and easy
to enter data in the excel.

#PANDAS DATA STRUCTURES.

**Pandas has two types of data structures:**

  • a) **Series** - It's a one dimensional array with indexes, it stores a single column or row of data in a Dataframe.

  • b) **Dataframe** - It's a tabular spreadsheet like structure representing rows each of which contains one or multiple columns

• A one-dimensional array(labeled) capable of holding any type of data- Series

• A two-dimensional data (labeled) structure with columns of potentially different types of data - DataFrame

To form Dataframe and Series.

In [6]:
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
ser=pd.Series(np.random.rand(34))#will give series frm 0 to 34
print(ser)
print(type(ser))#will show that it is series
#to form Dataframe
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
print(newdf)
print(type(newdf))#will show that it is dataframe
#to convert into numpy array
print(newdf.to_numpy())

0     0.603105
1     0.219189
2     0.431101
3     0.348121
4     0.517484
5     0.702084
6     0.864456
7     0.529680
8     0.120019
9     0.514656
10    0.913067
11    0.404567
12    0.342902
13    0.022562
14    0.649986
15    0.289546
16    0.357516
17    0.251351
18    0.426417
19    0.299363
20    0.787214
21    0.371542
22    0.794213
23    0.988351
24    0.599265
25    0.365321
26    0.115103
27    0.145482
28    0.419007
29    0.799825
30    0.184669
31    0.582282
32    0.105275
33    0.068708
dtype: float64
<class 'pandas.core.series.Series'>
            0         1         2         3         4
0    0.348241  0.365405  0.999135  0.797491  0.176454
1    0.714643  0.233955  0.558247  0.153866  0.949602
2    0.844803  0.828705  0.964965  0.891421  0.787251
3    0.249763  0.810621  0.671154  0.548999  0.965101
4    0.312793  0.336750  0.360517  0.223945  0.285171
..        ...       ...       ...       ...       ...
329  0.330221  0.500617  0.925108  0.268200  0.017431
330  0.796001  0.888251  0.325164  0.830720  0.765315
331  0.453885  0.690106  0.333347  0.839695  0.076231
332  0.749922  0.836863  0.855460  0.066133  0.599206
333  0.932065  0.509381  0.606459  0.435192  0.097989

[334 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>
[[0.34824108 0.36540505 0.999135   0.79749101 0.17645372]
 [0.71464345 0.23395471 0.55824695 0.15386557 0.94960189]
 [0.84480272 0.82870499 0.96496452 0.89142086 0.78725119]
 ...
 [0.45388451 0.69010646 0.33334686 0.83969498 0.0762314 ]
 [0.74992168 0.83686273 0.85545996 0.06613338 0.59920638]
 [0.9320649  0.50938091 0.60645935 0.43519234 0.09798914]]

Taking some attributes

In [8]:
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
ser=pd.Series(np.random.rand(34))#will give series frm 0 to 34
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
print(newdf.T) #to transpose
#to sort index
print(newdf.sort_index(axis=0,ascending=False))
#to sort columns
print(newdf.sort_index(axis=1,ascending=False))
#

        0         1         2         3         4         5         6    \
0  0.344536  0.167286  0.144741  0.130493  0.031860  0.718153  0.719134
1  0.408084  0.100995  0.130473  0.263659  0.149670  0.430846  0.724197
2  0.627677  0.493765  0.277894  0.850838  0.502292  0.069211  0.352544
3  0.588690  0.996425  0.695724  0.236311  0.449027  0.478961  0.386040
4  0.123075  0.230220  0.103107  0.426139  0.189418  0.185754  0.770651

        7         8         9    ...       324       325       326       327  \
0  0.358126  0.923157  0.002918  ...  0.430288  0.008726  0.904312  0.480757
1  0.936530  0.020958  0.448578  ...  0.556594  0.311910  0.861692  0.795485
2  0.642495  0.837471  0.212831  ...  0.793557  0.915001  0.431944  0.643462
3  0.161357  0.925838  0.411794  ...  0.465599  0.780831  0.491990  0.592788
4  0.366931  0.084737  0.006699  ...  0.322415  0.533564  0.478281  0.464449

        328       329       330       331       332       333
0  0.702931  0.603043  0.531821  0.680177  0.562055  0.244887
1  0.820849  0.016606  0.783048  0.148698  0.432178  0.935393
2  0.838877  0.782905  0.619516  0.139543  0.549687  0.404681
3  0.170614  0.489582  0.516263  0.820933  0.313243  0.301566
4  0.470248  0.453731  0.611525  0.657395  0.016230  0.343437

[5 rows x 334 columns]
            0         1         2         3         4
333  0.244887  0.935393  0.404681  0.301566  0.343437
332  0.562055  0.432178  0.549687  0.313243  0.016230
331  0.680177  0.148698  0.139543  0.820933  0.657395
330  0.531821  0.783048  0.619516  0.516263  0.611525
329  0.603043  0.016606  0.782905  0.489582  0.453731
..        ...       ...       ...       ...       ...
4    0.031860  0.149670  0.502292  0.449027  0.189418
3    0.130493  0.263659  0.850838  0.236311  0.426139
2    0.144741  0.130473  0.277894  0.695724  0.103107
1    0.167286  0.100995  0.493765  0.996425  0.230220
0    0.344536  0.408084  0.627677  0.588690  0.123075

[334 rows x 5 columns]
            4         3         2         1         0
0    0.123075  0.588690  0.627677  0.408084  0.344536
1    0.230220  0.996425  0.493765  0.100995  0.167286
2    0.103107  0.695724  0.277894  0.130473  0.144741
3    0.426139  0.236311  0.850838  0.263659  0.130493
4    0.189418  0.449027  0.502292  0.149670  0.031860
..        ...       ...       ...       ...       ...
329  0.453731  0.489582  0.782905  0.016606  0.603043
330  0.611525  0.516263  0.619516  0.783048  0.531821
331  0.657395  0.820933  0.139543  0.148698  0.680177
332  0.016230  0.313243  0.549687  0.432178  0.562055
333  0.343437  0.301566  0.404681  0.935393  0.244887

[334 rows x 5 columns]

Dataframe is formed with the combination of series. As series is indexes of row and column.

In [11]:
#to access nay particular axis:-
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
ser=pd.Series(np.random.rand(34))#will give series frm 0 to 34
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
print(newdf.head())
print(newdf.tail())
print(newdf[0][0])
print(newdf.index)
print(newdf.columns)
#to assign any value we cnt directly do that as inside the memory it will decie what to return so we will use lock funtion to assign value parmanently
newdf.loc[0,0]=654
print(newdf.head())

          0         1         2         3         4
0  0.365996  0.780166  0.379441  0.568327  0.715229
1  0.552459  0.428615  0.249873  0.967135  0.968552
2  0.938116  0.070007  0.859467  0.918309  0.079764
3  0.101187  0.058517  0.094182  0.305747  0.150203
4  0.541400  0.898492  0.031930  0.454678  0.075459
            0         1         2         3         4
329  0.783895  0.508347  0.090044  0.385421  0.330361
330  0.521858  0.353891  0.452422  0.576265  0.855863
331  0.749081  0.674134  0.703247  0.078263  0.182949
332  0.652971  0.727647  0.118581  0.830916  0.738105
333  0.674565  0.993578  0.433401  0.352128  0.417730
0.36599558857222214
Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
       ...
       324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
      dtype='int64', length=334)
RangeIndex(start=0, stop=5, step=1)
            0         1         2         3         4
0  654.000000  0.780166  0.379441  0.568327  0.715229
1    0.552459  0.428615  0.249873  0.967135  0.968552
2    0.938116  0.070007  0.859467  0.918309  0.079764
3    0.101187  0.058517  0.094182  0.305747  0.150203
4    0.541400  0.898492  0.031930  0.454678  0.075459

"loc" is used to access the row and coloum with there index name or coloum name.

"iloc" i used to return the value at that exact postion of the data frame.

In [21]:
#NOW TO RUN COMPLEX QUIERS.
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
ser=pd.Series(np.random.rand(34))#will give series frm 0 to 34
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))
print(newdf.loc[(newdf[0]<0.3) & (newdf[1] >0.1)])
#& here is for 2 different conditions
print(newdf.iloc[0,4])#return the value at that exact position.
#to remove any particular row or coloum.
print(newdf.drop([0]))
print(newdf.drop([0],axis=1))

            0         1         2         3         4
5    0.171422  0.853139  0.918807  0.560128  0.646340
8    0.125699  0.528579  0.436372  0.500117  0.347846
10   0.224594  0.655908  0.733051  0.861045  0.269162
12   0.018563  0.268926  0.161255  0.700907  0.695069
14   0.112786  0.289162  0.189764  0.579426  0.042075
..        ...       ...       ...       ...       ...
316  0.154909  0.958568  0.775481  0.886709  0.834210
325  0.091644  0.424184  0.735300  0.283366  0.721136
330  0.164379  0.975858  0.270987  0.757541  0.688304
331  0.292528  0.415625  0.250659  0.772894  0.001089
332  0.138912  0.223018  0.635940  0.481838  0.217627

[100 rows x 5 columns]
0.7582717579249129
            0         1         2         3         4
1    0.411357  0.543671  0.971406  0.373697  0.408484
2    0.339936  0.612637  0.314942  0.491163  0.463067
3    0.996786  0.662073  0.033784  0.380300  0.966350
4    0.564405  0.460416  0.048155  0.517680  0.335313
5    0.171422  0.853139  0.918807  0.560128  0.646340
..        ...       ...       ...       ...       ...
329  0.661480  0.971966  0.923067  0.798471  0.471320
330  0.164379  0.975858  0.270987  0.757541  0.688304
331  0.292528  0.415625  0.250659  0.772894  0.001089
332  0.138912  0.223018  0.635940  0.481838  0.217627
333  0.875707  0.709977  0.682439  0.693975  0.135120

[333 rows x 5 columns]
            1         2         3         4
0    0.510770  0.902892  0.541192  0.758272
1    0.543671  0.971406  0.373697  0.408484
2    0.612637  0.314942  0.491163  0.463067
3    0.662073  0.033784  0.380300  0.966350
4    0.460416  0.048155  0.517680  0.335313
..        ...       ...       ...       ...
329  0.971966  0.923067  0.798471  0.471320
330  0.975858  0.270987  0.757541  0.688304
331  0.415625  0.250659  0.772894  0.001089
332  0.223018  0.635940  0.481838  0.217627
333  0.709977  0.682439  0.693975  0.135120

[334 rows x 4 columns]

In [ ]:
import numpy as np
import pandas as pd
dict1={
    "NAMES":['swati','shaurya','rishu','ankit','aditya'],
    "MARKS":[99,98,97,96,95]
}
ser=pd.Series(np.random.rand(34))#will give series frm 0 to 34
newdf=pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

All the functions can be easily searched online now as basic have ben discussed.